@import "colors.scss";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1265' height='151.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23dcded7' stroke-width='5.9' stroke-opacity='0.04'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

}

/*________________________SHAPES-SECTION______________________________*/
.cloud {
    position: absolute;
    font-size: 40em;
    color:$shape_orange;
    text-shadow: -6px 2px 11px #000000;
    top: 0.65em;
    left: 1.2em;
    transform: rotate(-90deg);
    z-index: 1;

    

    
}

[data-aos^=zoom][data-aos^=zoom].aos-animate.cloud {
    opacity: 1;
    transform: translateZ(0) scale(1) rotate(-90deg);
}

.cloud2 {
    position: absolute;
    font-size: 60em;
    color: $shape_orange;
    text-shadow: -6px 2px 11px #000000;
    bottom: 0.2em;
    right: 0.7em;
    transform: rotate(180deg);
    z-index: -2;
     
}

.right-port {
    position: absolute;
    font-size: 10em;
    color: lightgray;
    top:15.7em;
    right: -0.8em;
    transform: rotate(90deg);
    z-index: -2;
     
}

.left-port {
    position: absolute;
    font-size: 10em;
    color: #2ecab5;
    top:15.7em;
    left: -0.8em;
    transform: rotate(90deg);
    z-index: -2;
     
}

[data-aos^=zoom][data-aos^=zoom].aos-animate.left-port {
    opacity: 1;
    transform: translateZ(0) scale(10.7) rotate(-90deg);
}

[data-aos^=zoom][data-aos^=zoom].aos-animate.right-port {
    opacity: 1;
    transform: translateZ(0) scale(10.7) rotate(90deg);
}



[data-aos^=fade][data-aos^=fade].aos-animate.cloud2 {
    opacity: 1;
    transform: translateZ(0) scale(1.4) rotate(90deg);
}    

.progress-bar [data-aos=fade-right] {
    transform: scaleX(0);
    transform-origin: left;
    animation-delay:1s;
}
.progress-bar [data-aos^=fade][data-aos^=fade].aos-animate{
    transform: scaleY(1);
}


/*_________________________MAIN-SECTION_____________________*/


body


a
{
  text-decoration: none;
  color: #232323;
  font-size: 0.2em;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

.logo {
    font-size: 20em;
    color: white;

}

#menuToggle
{
  display: block;
  position: fixed;
  top: 1.2em;
  left: 50px;
  color:#232323;
  
  z-index: 2000;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  color:black;
  background-color: black;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  
  //Hamburger color
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
  height: 120vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 30px;
}

#menu li .logo1 {
    font-size: 20em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}





.contHide {
    position: fixed;
    z-index: 10;
    margin: 2.5em 9em;
    transition: 1s;
    opacity: 0;
    -webkit-box-shadow: -1px -2px 300px -30px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px -2px 300px -30px rgba(0,0,0,0.43);
    box-shadow: -1px -2px 300px -30px rgba(0,0,0,0.43);
    border-radius: 1em;





     form {
        position: fixed;
        z-index: 15;
        margin: 0 auto;
        border-radius: 0.1em;
        font-size: 1.2em;
        color: #FFFFFF;
        opacity: 0;
     }

     h3 {
         color:#333333;
         margin:0;
         padding-left:0.3em;

     }


     h2 {
        position: fixed;
        font-size: 4em;
        top: 4em;
        right: 6em;
        color: #333333;
        z-index: 15;
        opacity: 0;
        transition: 2.5 ;
        padding-left: 0.1em;

    }


}










.contact {
    font-family: 'Poppins', sans-serif;

    .contShow {
        width: 80vw;
        height: 90vh;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 10;
        margin: 2.5em 9em;
        transition: 0.7s ease-in;
        opacity: 100;
        -webkit-box-shadow: -1px -2px 300px -30px rgba(0,0,0,0.43);
        -moz-box-shadow: -1px -2px 300px -30px rgba(0,0,0,0.43);
        box-shadow: -1px -2px 300px -30px rgba(0,0,0,0.43);
        border-radius: 1em;
            

        


        form {
            position: fixed;
            z-index: 15;
            top: 11em;
            left: 20em;
            border-radius: 0.1em;
            font-size: 1.2em;
            color: #FFFFFF;
            opacity: 100;
            transition: 1s;



            button {
                margin-top: 1em;
                font-size:1em;
                padding: 1em;
                border-radius: 2em;
                background-color:rgb(240, 177, 52);
                color: #ffffff;
                border: none;
                outline: none;
                text-shadow: -1px -2px 300px -30px rgba(0, 0, 0, 0.726);
            }

            .message {
                height: 10em;
                border-radius: 0.1em;
                outline: none;
                border: none;
                border-bottom: 2px solid grey;
                font-size: 1em;
                color: rgb(114, 112, 112);
            }

            


            input {
                border-radius: 0.1em;
                font-size: 1.2em;
                outline: none;
                border: none;
                border-bottom: 2px solid grey;
                background-color:#FFFFFF;
                margin: 0.2em;
                color: rgb(114, 112, 112);
                



            }
        }

        h2 {
            position: fixed;
            font-size: 3em;
            left: 7.9em;
            top: 2em;
            color: #333333;
            z-index: 15;
            opacity: 100;



        }
    }
    

    #contact {
        width: 15em;
        height: 8em;
        display: inline-block;
        position: fixed;
        bottom: 5.4em;
        right: 0;
        z-index: 12;
        -webkit-filter : hue-rotate(180deg);
        filter : hue-rotate(180deg);
        transition: 1s;
        @media all and (max-width: 480px) {
            right: -2em;
            bottom: 1em;
            width: 11.5em;
            height: 6em;

        
    
        }
    

    }
}








header {
    background-image: url("../img/vietnam-hero.jpeg");
    background-size: cover;
    height: 100vh;
    -webkit-clip-path: polygon(0% 68%, 20% 88%, 100% 99%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 68%, 20% 88%, 100% 99%, 100% 0%, 0% 0%);
    -webkit-box-shadow: 0px 17px 120px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 120px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 120px -16px rgba(0,0,0,0.75);

    @media all and (max-width: 480px) {
        background-size: 70em;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-clip-path: none;
        clip-path: none;
        background-position-x: -600px;

    }


    .navigation {
        display: flex;
        padding-top: 1.1em;
        justify-content: space-around;
        color: white;
        font-size: 2em;
        font-family: 'Advent Pro', sans-serif;

        @media all and (max-width: 480px) {
            background-color: white;
            position: fixed;
            top: 0;
            width: 100vh;
            height: 2em;
            z-index: 1000;
            box-shadow: 0px 17px 120px -16px rgba(0, 0, 0, 0.164);
        }


        .logo {
            font-family: 'Great Vibes', cursive;
            font-size: 1.7em;

            @media all and (max-width: 480px) {
                width: 8em;
                position: fixed;
                font-size: 1.2em;
                top: 0.2em;
                margin: 0 auto;
                
                
                
                color:#333333;

            }
               
        }

        .int-links {
            padding-top: 0.4em;
            display: flex;
            font-size: 1em; 
            text-decoration-line: none;
            justify-content: center;
        }

        a {
            display: flex;
            justify-content: center;
            transition: all 0.5s ease;
            text-decoration-line: none;
            color:white;
            padding-right: 0.5em;

            @media all and (max-width: 480px) {
                display: none;
            }
            
        }

        a:hover  {
            font-size: 1.4em;
            color:white;
            
        }

        .ext-links {
            padding-top: 0.35em;
            font-size: 1em;
        }

        .ext-links i:hover {
            color:white;
            font-size: 2em;
        }


    }

    .important {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        padding-top: 3em;
        padding-right: 11em;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2em;
        line-height: 1.8em;
        text-shadow: 4px 0px 13px #000000;
        
    }
    @media all and (max-width: 480px) {
        .important {
          font-size: 1.5em; 
          padding-left: 7em;
          line-height: 1.6em;
          padding-top: 6em;

        }
      }
      
}

.about-me {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    height: 40em;

    h2 {
        font-size: 5em;
        margin-left: 3em;

        @media all and (max-width: 480px) {

            font-size: 4em;
            text-align: center;
            width: 5em;
            margin: 0 auto;
            margin-top: 1em;
            
            

        }



    }

    .headlines {
        display: flex;
        justify-content: center;
        padding-right: 30em;

        @media all and (max-width: 480px) {
            flex-direction: column;
            width: 22em;
            margin: 0 auto;
            margin-top: 12em;
            padding-right: unset;
        }

        

        div {
            font-size: 1.1em;
            text-align: center;
            width: 15em;
            padding-left: 5em;
        
        }
    }
}

.my-skills {
    font-family: 'Roboto Condensed', sans-serif;

    h2 {
        text-align: center;
        font-size: 6em;
        
        @media all and (max-width: 480px) {
            margin-top: 4em;
            font-size: 4em;
        }
    }

    .cloud2 {
        position: relative;
        font-size: 60em;
        color: $shape_orange;
        text-shadow: -6px 2px 11px #000000;
        bottom: 0.2em;
        right: 0.7em;
        transform: rotate(90deg);
        z-index: -2;
    }

    .progress-bar {
        margin-left: 15em;
        margin-right: 15em;
        font-size: 1em;
        font-weight: bold;

        @media all and (max-width: 480px) {
            width: 20em;
            margin: 0 auto;
        }

        > div{
            display: flex;
            height: 2.8em;
            margin-bottom: 0.6em;

            @media all and (max-width: 480px) {
                height: 2.2em;
            }


        }

        .name {
            display: flex;
            background-color: #232323;
            color: white;
            padding:0.5em 3em;
            width: 30px;
            padding-top: 0.4em;
            justify-content: center;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            font-size: 1.3em;

            @media all and (max-width: 480px) {
               width: 1em;
               font-size: 0.8em;
               padding:0.7em 3em;

            }
            
         }

        > div > div:nth-child(2) {
            display: flex;
            background-color: #EBEBEB;
            position: relative;
            flex-grow: 1;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
             
        }

        .bar {
            background-color: $bar_green;
            width: 80%;
        }

        .bar1 {
            background-color: $bar_green;
            width: 80%;
        }

        .bar2 {
            background-color: $bar_green;
            width: 70%;
        }

        .bar3 {
            background-color: $bar_green;
            width: 60%;
        }

        .bar4 {
            background-color: $bar_green;
            width: 70%;
        }

        .bar5 {
            background-color: $bar_green;
            width: 60%;
        }

        .bar6 {
            background-color: $bar_green;
            width: 60%;
        }

        .num {
            color: #7A7A7A;
            font-size: 1.3em;
            position: absolute;
            left: 35em;
            top: 0.5em;


            @media all and (max-width: 480px) {
                font-size: 1.3em;
            position: absolute;
            left: 11.5em;
            top: 0.7em;
            font-size: 1em;
 
             }


            
        }

    }


    .logos {
        display: flex;
        justify-content: center;
        font-size: 3em;
        padding: 0.5em;

        div {
            padding: 0.5em;
            color: rgb(73, 73, 73);
        }
    }

}

.portfolio {
     
    h2 {
        font-family: 'Ubuntu', sans-serif;
        color: white;
        text-align: center;
        position: relative;
        font-size: 4em;
        margin: 0 auto;
        bottom: 18em;
        padding: 0.6em;

        span {
            color: red;
        }
    }
}